#trackerGuilds
	.table-responsive
		table.table-condensed()
			tr.guildInfo.scale-fade(ng-repeat="guild in matchGuilds[active.match.wvw_match_id] | toArray | orderBy:['latestClaim']:true")
				td.guildEmblem
					span.scale-fade(ng-if="guilds[guild.id]") 
						img.emblem(ng-src="{{'http://guilds.gw2w2w.com/' + guild.id + '.svg'}}")
					span.guildLoading(ng-if="!guilds[guild.id]")
						i(class="fa fa-spinner fa-spin")
				td.guildDetails
					h1(id="{{guild.id}}")
						span.scale-fade(ng-if="guilds[guild.id]")
							| {{guilds[guild.id].guild_name}} [{{guilds[guild.id].tag}}]
						span.guildLoading(ng-if="!guilds[guild.id]")
							i(class="fa fa-spinner fa-spin")
						small Latest Claim: {{moment(guild.latestClaim).format("dddd, MMMM Do YYYY, h:mm:ss a")}}

					ul.guildClaims.list-unstyled
						li.team(
							ng-repeat="claim in guild.claims | orderBy:'timestamp':true",
							class="{{objectivesState[claim.id].owner.toLowerCase()}}",
						)
							gw2-objective(
								is-static = "true",
								columns = "['timer', 'timestamp', 'mapName', 'icon', 'direction', 'name']",
								timestamp = "claim.timestamp",
								lang-key = "active.lang.slug",
								map-name = "gw2.wvw.mapObjectives[claim.id].mapName.replace('Home', '')",
								objective = "objectives[claim.id]",
								state = "state[claim.id]",
								guild = "guilds[state[claim.id].owner_guild]",
							)
