span.scale-fade
	span.guildLoading(ng-if="state.owner_guild && !guild"): i(class="fa fa-spinner fa-spin")
	a(
		ng-if="state.owner_guild && guild", 
		ng-click="gotoGuild(state.owner_guild)", 
		title="{{guild.guild_name}}"
	)
		| [{{guild.tag}}]