section.objectiveGroup(
	ng-class="{active: logFilters.map === oGroup.mapType, inactive: logFilters.map !== 'all' && logFilters.map !== oGroup.mapType}"
)

	h4(ng-click="logFilters.map=oGroup.mapType") {{mapNamesByType[oGroup.mapType]}}

	.scoreboard
		.row(ng-repeat="(worldIndex, worldConfig) in gw2.wvw.worldsConfig", class="team", ng-class="worldConfig.color")
			.col-xs-16.mapName {{worldsById[active.match[worldConfig.worldId]][active.lang.slug].name}}
			.col-xs-8.text-right.name {{active.matchDetails.maps[oGroup.mapIndex].scores[worldConfig.index] | number}}

	div.objectiveSection(ng-repeat="(sectionIndex, section) in oGroup.sections")
		div(ng-repeat="(objIndex, objectiveId) in section.objectives", id="objective{{objectiveId}}")
			gw2-objective(
				columns = "['icon', 'direction', 'name', 'timer', 'guildTag']",
				lang-key = "active.lang.slug",

				objective = "objectives[objectiveId]",
				state = "state[objectiveId]",
				guild = "guilds[state[objectiveId].owner_guild]",
			)