doctype html
html(lang='en', ng-app='gw2app')
	head
		meta(charset='utf-8')
		title(ng-bind-template="{{pageTitle || 'GW2W2W.com'}}") GW2W2W.com

		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
		if process.env.NODE_ENV === 'development'
			link(rel='stylesheet', href='/dist/css/bootstrap.css')
			link(rel='stylesheet', href='/dist/css/animations.css')
			link(rel='stylesheet', href='/dist/css/app.css')
		else
			link(rel='stylesheet', href='/dist/css/app.min.css')


	body
		#view-container
			#view-frame(ng-view='ng-view')




		// PRE-RENDERED ANGULAR TEMPLATES
		each partial, index in partials
			script(type="text/ng-template", id="/#{partial.renderPath}") !{partial.html}




		if process.env.NODE_ENV === 'development'
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/async/0.4.0/async.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js')

			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js')
			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js')
			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js')
			//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js')
		else
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/async/0.4.0/async.min.js')
			script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js')

			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js')
			script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js')
			//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js')

		script(src='/moment/min/moment-with-langs.min.js')
		script(src='/moment.twitter/moment-twitter.js')


		if process.env.NODE_ENV === 'development'
			script(src='/src/js/app.js')
			script(src='/src/js/filters.js')
			script(src='/src/js/directives.js')
			//- script(src='/src/js/animations.js')

			script(src='/src/js/services/memCache.js')
			script(src='/src/js/services/localStorage.js')
			script(src='/src/js/services/i18n.js')
			script(src='/src/js/services/gw2data.js')
			script(src='/src/js/services/gw2api.js')
			script(src='/src/js/services/gw2.js')

			script(src='/src/js/controllers/app.js')
			script(src='/src/js/controllers/overview.js')
			script(src='/src/js/controllers/tracker.js')
		else
			script(src='/dist/js/app.min.js')





